// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2026 Custom Firmware <gabin278@gmail.com>
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include "mt6572.dtsi"
#include "mt6323.dtsi"

/ {
	model = "Prestigio MultiPhone PAP5500 DUO";
	compatible = "prestigio,pap5500-duo", "mediatek,mt6572";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:921600n8";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x20000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		framebuffer_reserved: framebuffer@9f800000 {
			reg = <0x9f800000 0x800000>;
			no-map;
		};

		connsys@80000000 {
			reg = <0x80000000 0x100000>;
			no-map;
		};
	};

	battery: battery {
		compatible = "simple-battery";
		charge-full-design-microamp-hours = <2000000>;
		voltage-max-design-microvolt = <4200000>;
		voltage-min-design-microvolt = <3300000>;
		ocv-capacity-celsius = <25>;
		ocv-capacity-table-0 = <4189000 100>, <4107000  95>,
				       <4063000  90>, <4018000  85>,
				       <3975000  80>, <3937000  75>,
				       <3907000  70>, <3871000  65>,
				       <3843000  60>, <3810000  55>,
				       <3787000  50>, <3781000  45>,
				       <3777000  40>, <3772000  35>,
				       <3753000  30>, <3719000  25>,
				       <3671000  20>, <3596000  15>,
				       <3536000  10>, <3493000   5>,
				       <3419000   0>;
	};

	haptic {
		compatible = "regulator-haptic";
		haptic-supply = <&mt6323_vibr_reg>;
		min-microvolt = <1200000>;
		max-microvolt = <3300000>;
	};

	pwm-leds {
		compatible = "pwm-leds";
		pinctrl-0 = <&flash_pins>;
		pinctrl-names = "default";

		led-torch {
			function = LED_FUNCTION_TORCH;
			color = <LED_COLOR_ID_WHITE>;
			pwms = <&pwm 0 31250>;
			max-brightness = <255>;
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 1 31250>;
		brightness-levels = <0 1023>;
		num-interpolated-steps = <1023>;
		default-brightness-level = <512>;
		power-supply = <&mt6323_vsys_reg>;
	};
};

&auxadc {
	status = "okay";
};

&bls {
	status = "okay";
};

&dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		compatible = "boyi,otm8018b";
		reg = <0>;
		vcc-supply = <&mt6323_vgp1_reg>;
		backlight = <&backlight>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
};

&dsi_out {
	remote-endpoint = <&panel_in>;
};

&cpu0 {
	proc-supply = <&mt6323_vproc_reg>;
};

&cpu1 {
	proc-supply = <&mt6323_vproc_reg>;
};

&gpu {
	/* Switch to WHPLL */
	assigned-clocks = <&topckgen CLK_TOP_MFG_SEL>,
			  <&topckgen CLK_TOP_MFG_PRE_SEL>;
	assigned-clock-parents = <&topckgen CLK_TOP_MFG_PRE_500M>,
				 <&topckgen CLK_TOP_MFG_SEL>;

	operating-points-v2 = <&gpu_opp_table>;
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "okay";

	/*
	 * The GT911 latches its I2C address from the INT pin level while
	 * reset is released: low selects 0x5d, high selects 0x14. INT is
	 * muxed to EINT1 here, and mtk_gpio_direction_output() only touches
	 * the GPIO DIR/DOUT registers without changing the pin mode, so the
	 * driver cannot drive the pad - the bias-pull-up below wins and the
	 * controller always comes up at 0x14. Address it where it actually
	 * is; verified by reading "915" from the product-id register 0x8140.
	 */
	touchscreen@14 {
		status = "okay";
		compatible = "goodix,gt911";
		reg = <0x14>;

		/*
		 * No interrupt: the INT pin has to stay a plain GPIO so the
		 * driver can drive it, see tpd_pins. Without a DT interrupt
		 * goodix falls back to input_setup_polling(), which is how
		 * this panel has always run here.
		 */
		irq-gpios = <&pio 129 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pio 57 GPIO_ACTIVE_HIGH>;

		AVDD28-supply = <&mt6323_vgp1_reg>;
		VDDIO-supply = <&mt6323_vio18_reg>;

		touchscreen-size-x = <480>;
		touchscreen-size-y = <854>;
		touchscreen-inverted-x;

		pinctrl-0 = <&tpd_pins>;
		pinctrl-names = "default";
	};

	light-sensor@39 {
		compatible = "rohm,rpr0400";
		reg = <0x39>;
		vdd-supply = <&mt6323_vgp1_reg>;
		vddio-supply = <&mt6323_vio18_reg>;
	};

	accelerometer@18 {
		compatible = "bosch,bma222e";
		reg = <0x18>;
		vdd-supply = <&mt6323_vgp1_reg>;
		vddio-supply = <&mt6323_vio18_reg>;
	};
};

&mt6323_vgp1_reg {
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
};

&mt6323_vgp2_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
	regulator-boot-on;
};

&mt6323_vgp3_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
	regulator-boot-on;
};

&btif {
	status = "okay";
};

&consys {
	vcn18-supply = <&mt6323_vcn18_reg>;
	vcn28-supply = <&mt6323_vcn28_reg>;
	vcn33_bt-supply = <&mt6323_vcn33_bt_reg>;
	vcn33_wifi-supply = <&mt6323_vcn33_wifi_reg>;
	status = "okay";
};

&wifi {
	status = "okay";
};

&mt6323keys {
	power-off-time-sec = <5>;
	home {
		status = "disabled";
	};
};

&mt6323_leds {
	status = "okay";

	led@3 {
		reg = <3>;
		function = LED_FUNCTION_KBD_BACKLIGHT;
		color = <LED_COLOR_ID_WHITE>;
		default-state = "off";
	};
};

/ {
	/* speaker amplifier (Yamaha YDA145), fed from the codec HP output */
	speaker_amp: audio-amplifier {
		compatible = "simple-audio-amplifier";
		pinctrl-names = "default";
		pinctrl-0 = <&speaker_amplifier_pins>;
		enable-gpios = <&pio 139 GPIO_ACTIVE_HIGH>;
		sound-name-prefix = "Speaker Amp";
	};

	sound {
		compatible = "mediatek,mt6572-mt6323-sound";
		mediatek,platform = <&afe>;
		aux-devs = <&speaker_amp>;
		audio-routing =
			"Speaker Amp INL", "HP Driver",
			"Speaker Amp INR", "HP Driver",
			"Speaker", "Speaker Amp OUTL",
			"Speaker", "Speaker Amp OUTR";
		mediatek,accdet = <&mt6323_accdet>;
	};
};

&pwm {
	pinctrl-0 = <&bl_pwm_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart0 {
	status = "okay";
};

&usb {
	status = "okay";
};

&u2phy0 {
	status = "okay";
};

&pmic {
	pinctrl-0 = <&pmic_int_pins>;
	pinctrl-names = "default";
	interrupts = <16 IRQ_TYPE_LEVEL_HIGH>;
};


&mmc0 {
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-1 = <&mmc0_pins>;
	pinctrl-names = "default", "state_uhs";
	bus-width = <8>;
	max-frequency = <50000000>;
	cap-mmc-highspeed;
	vmmc-supply = <&mt6323_vemc3v3_reg>;
	vqmmc-supply = <&mt6323_vio18_reg>;
	non-removable;
	status = "okay";
};

&mmc1 {
	pinctrl-0 = <&mmc1_pins>;
	pinctrl-1 = <&mmc1_pins>;
	pinctrl-names = "default", "state_uhs";
	bus-width = <4>;
	max-frequency = <50000000>;
	cap-sd-highspeed;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	vmmc-supply = <&mt6323_vmch_reg>;
	vqmmc-supply = <&mt6323_vmc_reg>;
	broken-cd;
	status = "okay";
};

&keyboard {
	status = "okay";
	linux,keymap = <MATRIX_KEY(0, 1, KEY_VOLUMEUP)
			MATRIX_KEY(0, 2, KEY_VOLUMEDOWN)>;
	keypad,num-rows = <1>;
	keypad,num-columns = <3>;
	debounce-delay-ms = <32>;
};

&mt6323_accdet {
	pinctrl-0 = <&jack_pins>;
	pinctrl-names = "default";

	interrupts-extended = <&pio 7 IRQ_TYPE_EDGE_BOTH>,
			      <&pmic 18 IRQ_TYPE_LEVEL_HIGH>;
	interrupt-names = "eint", "pmic";

	status = "okay";
};

&pio {
	bl_pwm_pins: bl-pwm-pins {
		pins {
			pinmux = <PINMUX_GPIO30__FUNC_PWM2>;
		};
	};

	jack_pins: jack-pins {
		pins-int {
			pinmux = <PINMUX_GPIO142__FUNC_EINT7>;
			input-debounce = <32000>;
		};
	};

	speaker_amplifier_pins: speaker-amplifier-pins {
		pins {
			pinmux = <PINMUX_GPIO139__FUNC_GPIO139>;
			output-low;
		};
	};

	pmic_int_pins: pmic-int-pins {
		pins {
			pinmux = <PINMUX_GPIO7__FUNC_PMIC_EINT>;
			input-enable;
			bias-pull-down;
		};
	};

	mmc0_pins: mmc0-pins {
		pins-clk {
			pinmux = <PINMUX_GPIO44__FUNC_MC0_CK>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cmd-dat {
			pinmux = <PINMUX_GPIO45__FUNC_MC0_CMD>,
				 <PINMUX_GPIO46__FUNC_MC0_DAT0>,
				 <PINMUX_GPIO47__FUNC_MC0_DAT1>,
				 <PINMUX_GPIO48__FUNC_MC0_DAT2>,
				 <PINMUX_GPIO49__FUNC_MC0_DAT3>,
				 <PINMUX_GPIO50__FUNC_MC0_DAT4>,
				 <PINMUX_GPIO51__FUNC_MC0_DAT5>,
				 <PINMUX_GPIO52__FUNC_MC0_DAT6>,
				 <PINMUX_GPIO53__FUNC_MC0_DAT7>;
			input-enable;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-rst {
			pinmux = <PINMUX_GPIO54__FUNC_MC0_RSTB>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_10>;
		};
	};

	tpd_pins: tpd-pins {
		pins-rst {
			pinmux = <PINMUX_GPIO57__FUNC_GPIO57>;
			output-high;
		};
		/*
		 * Keep INT as a GPIO, not EINT1. mtk_pinmux_gpio_request_enable()
		 * refuses to re-mux a pin that is already sitting in its eint
		 * function, so pre-muxing to EINT1 here leaves the pad stuck in
		 * EINT mode - gpiod_direction_output() then only writes DIR/DOUT
		 * and never reaches the pad. The GT911 needs the host to drive
		 * INT to strap its I2C address and to run the power-on handshake
		 * (GT911 Programming Guide 4.1-4.3), so the pin must be drivable.
		 *
		 * No bias either: the guide requires INT to be floating with no
		 * internal pull-up or pull-down while it is an input.
		 */
		pins-int {
			pinmux = <PINMUX_GPIO129__FUNC_GPIO129>;
			input-enable;
			bias-disable;
		};
	};

	i2c1_pins: i2c1-pins {
		pins {
			pinmux = <PINMUX_GPIO113__FUNC_SCL1>,
				 <PINMUX_GPIO114__FUNC_SDA1>;
		};
	};

	flash_pins: flash-pins {
		pins {
			pinmux = <PINMUX_GPIO128__FUNC_PWM1>;
		};
	};

	mmc1_pins: mmc1-pins {
		pins-clk {
			pinmux = <PINMUX_GPIO91__FUNC_MC1_CK>;
			bias-pull-down;
			drive-strength = <8>;
		};

		pins-cmd-dat {
			pinmux = <PINMUX_GPIO92__FUNC_MC1_CMD>,
				 <PINMUX_GPIO93__FUNC_MC1_DAT0>,
				 <PINMUX_GPIO94__FUNC_MC1_DAT1>,
				 <PINMUX_GPIO95__FUNC_MC1_DAT2>,
				 <PINMUX_GPIO96__FUNC_MC1_DAT3>;
			input-enable;
			bias-pull-up;
			drive-strength = <8>;
		};
	};
};
